Server Application/Desktop Application/deploy
Portable Application/Desktop Application/Qt Files/3DClient/build
Server Application/Deploy
Server Application/Desktop Application/Qt Files/deploy
Portable Application/Deploy
Portable Application/Desktop Application/Qt Files/deploy
/Portable Application/Desktop Application/Qt Files/deploy/python_files/__pycache__
/.vscode
